{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header id="One">
  {% include "components/menu.html.twig" %}

  <div class="col-12 p-0 m-0">
    <picture >
        <source srcset="img/subpage/wiara-s.jpg" media="(max-width: 480px)">
        <img  class="col-12 p-0 m-0" src="img/subpage/wiara.jpg" alt="Wyznanie wiary">
    </picture>
  </div>
</header>
<main>

<section class="faith">

<div class="accordion col-12 col-md-10 col-xl-10 mx-auto" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn  btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Kim są zielonoświątkowcy - dr Edward Czajko
          </button>
        </h3> 
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
         
          <p>Lesslie Newbigin, anglikanin, pełniący swego czasu funkcję biskupa w Zjednoczonym Kościele Indii Południowych, a następnie zastępcy sekretarza generalnego Światowej Rady Kościołów, w swojej pracy pt. "The Household of God" (pierwsze wydanie rok 1953) [1] napisał, że widzi w chrześcijaństwie współczesnym (dzisiejszym) trzy nurty. Newbigin zwrócił uwagę na to, że we współczesnym ruchu ekumenicznym odbywa się w zasadzie dialog między dwoma nurtami chrześcijaństwa, a mianowicie między katolicyzmem a protestantyzmem. Prawosławie zaliczył autor do nurtu katolickiego. Jednakże obraz chrześcijaństwa dzisiaj - mówi Newbigin - ograniczony do tych dwóch nurtów nie jest pełny. Albowiem - powiada dalej - istnieje trzeci nurt tradycji chrześcijańskiej: nurt pentekostalny - zielonoświątkowy.</p>
          
          <p>Nurt trzeci, pentekostalny, posiada również - jak oba poprzednie - swoją specyfikę. Tak jak katolicki nurt chrześcijaństwa podkreśla przekazaną strukturę kościelną, świadcząc przede wszystkim o tym, że Kościół jest Ciałem Chrystusowym do którego ludzie zostają włączeni przez sakramentalną partycypację w historycznej instytucji; jak nurt protestancki, z kolei, chce być nosicielem przekazanego przesłania, akcentując tę ważną prawdę, że Kościół jest zgromadzeniem wierzących, włączonych w Chrystusa przez słuchanie i uwierzenie Ewangelii, tak nurt zielonoświątkowy uznaje za swój centralny element przekonanie, że życie chrześcijańskie jest sprawą przeżywania obecności i mocy Ducha Świętego i dlatego Kościół to przede wszystkim KOINONIA czyli społeczność Ducha Świętego.</p>

          <a href="/pdf/Kim_jestesmy.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            W co wierzą zielonoświątkowcy? - Zdzisław Józefowicz
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
         
          <p>Zapytajmy najpierw kim są zielonoświątkowcy. Jedna z definicji brzmi następująco: "Zielonoświątkowcami są ci, którzy nauczają co najmniej o dwóch następujących po sobie i odrębnych doświadczeniach religijnych w życiu chrześcijanina - chodzi o odrodzenie, chrzest w Duchu Świętym. Drugie przeżycie jest zazwyczaj, choć nie zawsze, łączone z mówieniem innymi językami" (Walter Hollenweger)1.</p>
          
          <p>Kościół Zielonoświątkowy na świecie jest niezwykle zróżnicowany. Nie ma jednolitej doktryny, która zobowiązywałaby cały ruch zielonoświątkowy. Wydaje się, że jest to jedna z charakterystycznych cech tego ruchu. Każdy z Kościołów odwołuje się jednak do Pisma Świętego jako normy wiary i postępowania, akceptuje biblijną naukę o zbawieniu i usprawiedliwieniu z łaski przez wiarę, odkrytą na nowo przez Reformację XVI w.</p>

          <a href="/pdf/W_co_wierzymy.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
 
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Wyznanie wiary Kościoła Zielonoświatkowego - Credo
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center p-0 p-md-1">
          
            <ul class="pr-0">
              <li>Wierzymy, że Pismo Święte - Biblia - jest Słowem Bożym, nieomylnym i natchnionym przez Ducha Świętego i stanowi jedyną normę wiary i życia.</li>
              <li>Wierzymy w Boga w Trójcy Świętej jedynego, w osobach Ojca i Syna, i Ducha Świętego.</li>
              <li>Wierzymy w Synostwo Boże Jezusa Chrystusa, poczętego z Ducha Świętego, narodzonego z Marii Dziewicy; w Jego śmierć na krzyżu za grzechy świata i Jego zmartwychwstanie w ciele; w Jego wniebowstąpienie i powtórne przyjście w chwale.</li>
              <li>Wierzymy w pojednanie z Bogiem przez upamiętanie i wiarę w Ewangelię, w chrzest i Wieczerzę Pańską.</li>
              <li>Wierzymy w chrzest Duchem Świętym, przeżywanie pełni Ducha i Jego darów.</li>
              <li>Wierzymy w jeden Kościół, święty, powszechny i apostolski.</li>
              <li>Wierzymy w uzdrowienie chorych jako znak łaski i mocy Bożej.</li>
              <li>Wierzymy w zmartwychwstanie i życie wieczne.</li>
            </ul>
          
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            Symbol Apostolski
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          <p>Wierzę w Boga Ojca Wszechmogącego, Stworzyciela nieba i ziemi, i w Jezusa Chrystusa, Syna Jego Jedynego, Pana naszego, który się począł z Ducha Świętego, narodził się z Maryi Panny, umęczon pod Ponckim Piłatem, ukrzyżowan, umarł i pogrzebion, zstąpił do piekieł, trzeciego dnia zmartwychwstał, wstąpił na niebiosa, siedzi po prawicy Boga Ojca Wszechmogącego, stamtąd przyjdzie sądzić żywych i umarłych. Wierzę w Ducha Świętego, święty Kościół powszechny, Świętych obcowanie, grzechów odpuszczenie, ciała zmartwychwstanie, żywot wieczny. Amen</p>
         </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Nicejsko-konstantynopolitańskie wyznanie wiary (381r)
          </button>
        </h3>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          <p>Wierzę w jednego Boga, Ojca wszechmogącego, Stworzyciela nieba i ziemi, wszystkich rzeczy widzialnych i niewidzialnych. I w jednego Pana Jezusa Chrystusa, Syna Bożego Jednorodzonego, który z Ojca jest zrodzony przed wszystkimi wiekami. Bóg z Boga, Światłość ze Światłości, Bóg prawdziwy z Boga prawdziwego, Zrodzony, a nie stworzony, współistotny Ojcu, a przez Niego wszystko się stało. On to dla nas ludzi i dla naszego zbawienia zstąpił z nieba. I za sprawą Ducha Świętego przyjął ciało z Maryi Dziewicy i stał się człowiekiem. Ukrzyżowany również za nas pod Poncjuszem Piłatem poniósł mękę i został pogrzebany. I zmartwychwstał trzeciego dnia, jak oznajmia Pismo. I wstąpił do nieba; siedzi po prawicy Ojca. I powtórnie przyjdzie w chwale sądzić żywych i umarłych, a królestwu Jego nie będzie końca. Wierzę w Ducha Świętego, Pana i Ożywiciela, który od Ojca (i Syna) pochodzi. Który z Ojcem i Synem wspólnie odbiera uwielbienie i chwałę; który mówił przez Proroków. Wierzę w jeden, święty, powszechny i apostolski Kościół. Wyznaję jeden chrzest na odpuszczenia grzechów. Amen.</p>
         </div>
      </div>
    </div>

  </div>


</section>

</main>
    
{% endblock %}
