{% extends 'base.html.twig' %}
{% block body %}

	<header id="One">
		{% include "components/menu.html.twig" %}
	</header>

	<main>
		<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

			<h2 class="main-h2">Koncert Wielkanocny „JEZUS ZMARTWYCHWSTAŁ” on-line.</h2>
			<p>Dodał: Łukasz Lasota | 21.03.2021 r. | Emaus Rzeszów</p>

			<p>Serdecznie zapraszamy na Koncert Wielkanocny „JEZUS ZMARTWYCHWSTAŁ” on-line. Transmisja odbędzie się 05.04.2021 r. (Poniedziałek Wielkanocny) o godzinie 18:00 na naszym kanale na YouTube.</p>

			<div class="col-12 col-md-9 col-x-6 d-flex justify-content-center p-0 pt-5 m-0 main-picture main-picture-hover ">
				<a href="/img/news/20.jpg" class="example-image-link" id="lightbox-img" data-lightbox="image-1" data-title="Koncert wielkanocny">
					<img class="col-12 p-0 m-0" src="/img/news/20.jpg" alt="Koncert wielkanocny">
					<ficaption class="main-picture-hover-ficaption">Zobacz koncert</ficaption>
					
				</a>
			</div>

			<p class="pt-5 pb-5">Nagranie koncertu</p>

			<div class="videoWrapper" class="col-12 col-md-8 d-flex justify-content-center p-0 pt-5 m-0 ">
			<!-- Copy & Pasted from YouTube -->
			<iframe src="https://www.youtube.com/embed/7f4ng3GNqJ0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
			</div>

		</section>
	</main>
{% endblock %}

{% block footer %}
	{% include "components/footer.html.twig" %}
{% endblock %}
