{% extends 'base.html.twig' %}
{% block body %}

<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">Kawa z pastorstwem,</h2>
<p>Dodał: Marek Skrzypczak | 07.06.2020 r. | Emaus Rzeszów</p>

<p>Cieszymy się, że kawa on-line z pastorem Markiem i jego żoną była wspaniale spędzonym czasem na rozmowach, wymianie poglądów oraz budowaniu siebie nawzajem.</p>
<p>Jesteśmy pod wieloma względami zbudowani i zachęceni, dlatego chcemy to nadal kontynuować, jednak od tego tygodnia spotkanie będzie się odbywało raz w tygodniu w środę o godzinie 11.</p>
<p>Miło nam będzie się z wami napić kawy (lub herbaty) dlatego czekamy na was w środę o 11 w aplikacji zoom.</p>
<p>Link poniżej.</p>

<p>Na telefon oraz tablet ( Appstore): <a href="https://apps.apple.com/pl/app/zoom-cloud-meetings/id546505307?l=pl&fbclid=IwAR1sNytieD94vegJry4qj7sc9iNnsxuNGpJgFQ9Z1gWnmKhjdOELcDNVwXY">apps.apple.com/pl/app/zoom-cloud-meetings/</a></p>

<p>(Sklep Play): <a href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings&hl=pl&fbclid=IwAR1SWXfca7ik-ebjp-swJ_62aZVU9-9VABmRf47VhjA2qDXsNj-WC9irslk">play.google.com/store/apps/</a> </p>

<p>Na komputer: <a href="https://zoom.us/download?fbclid=IwAR19lQVJBilFjZEesj1MVQ6-9XlTaksoeh3EgPKePFfC9JhrWrNXZc1eIPk"></a> </p>
<p>Jest to Zoom client meeting</p>
<p>Link do spotkania, wystarczy kliknąc: Join Zoom Meeting <a href="https://us04web.zoom.us/j/5367440361">us04web.zoom.us/</a></p>
<p>Meeting ID: 536 744 0361</p>
<p>hasło: 111111</p>


<div class="col-12 col-md-9 col-x-6 d-flex justify-content-center p-0 pt-5 m-0">
    <a href="https://us04web.zoom.us/j/5367440361" title="Kliknij"><img class="col-11" src="/img/news/3.jpg" alt=""></a>
</div>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}
