{% extends 'base.html.twig' %}

{% block body %}
<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">WIECZERZA PAŃSKA</h2>
<p>Dodał: Marek Skrzypczak | 01.05.2020 r. | Emaus Rzeszów</p>
<p>W najbliższą niedzielę podczas nabożeństwa chcemy uczestniczyć w Wieczerzy Pańskiej obchodzonej w naszych domach. Poniżej przedstawiamy instrukcję, dzięki której będziemy mogli się do niej przygotować:</p>
<p>➢ Przygotuj sobie Biblię</p>
<p>➢ Przygotuj sobie (kup) do Wieczerzy:<br>
- wino czerwone gronowe,<br>
- macę (pieczywo chrupkie),<br>
bułkę drożdżową lub chałkę (można sobie upiec w domu).<br>
Przygotuj talerzyk na elementy chleba oraz kielich na wino (jeżeli nie macie to może być szklaneczka lub inne naczynie).</p>
<p>➢ Przed rozpoczęciem nabożeństwa miej te rzeczy gotowe do udziału podczas nabożeństwa</p>
<p>➢ Bułka lub maca powinna być na talerzyku cała lub we większym kawałku, by podczas Wieczerzy w odpowiednim momencie ją złamać.</p>
<p>➢ Kielich (szklanka) może być jedna i możecie pić z jednego naczynia rodzinnie jeśli tak zechcecie i jeśli będzie to dla was bezpieczne. W innym wypadku przygotujcie tyle kieliszków (szklaneczek) ile was będzie uczestniczyło. Oczywiście przed rozpoczęciem nabożeństwa rozlejcie wino do naczyń.</p>
<p>➢ Wspólne uczestniczymy w Wieczerzy Pańskiej, stosując się poleceń osoby prowadzącej w Zborze (przed ekranem). W domach, tam gdzie są mężczyźni – bracia, oni odpowiadają za przeprowadzenie wieczerzy. Gdzie nie ma braci, robią to siostry.</p>
<p>➢ Czynimy to godnie, w atmosferze modlitwy i radości, dziękując za cudowne zbawienie.</p>
<p>➢ Udział biorą tak jak w Zborze, te osoby, które wyznały Pana Jezusa swoim Zbawicielem poprzez chrzest wiary.</p>
<p>Wasi domownicy mogą uczestniczyć w tym nabożeństwie, jednak wcześniej wytłumaczcie im jak to czynimy w Kościele i kto bierze udział oraz dlaczego. To może wam dać okazję do zaprezentowania Ewangelii i zaleceń Pawła o Wieczerzy Pańskiej - godnym i niegodnym uczestnictwie. (1 Kor.11.20-22, 27-34)</p>
<p>➢ Przygotujmy się w modlitwie do tego czasu, by nie było w nas przeszkód (grzechu, nieprzebaczenia)</p>
<p>➢ Tam gdzie nie będzie możliwości, by z całym Kościołem w jednym czasie uczestniczyć w Wieczerzy wspólnie całą rodziną, możecie to zrobić w innym czasie (np. jeśli ktoś będzie w pracy)</p>
<p>Najważniejszą rzeczą jest duchowy aspekt obchodzenia Wieczerzy Pańskiej. Modlitwa, wdzięczność, ogłaszanie mocy krzyża Jezusa i świadomość, że jest to społeczność duchowa Kościoła, która nas jednoczy poprzez dokonane dzieło Chrystusa. Jest to społeczność ciała – Kościoła. Będziemy odrębnie, a jednak razem!</p>


<div class="col-12 col-md-9 col-x-6 d-flex justify-content-center p-0 pt-5 m-0">
    <img  class="col-11" src="/img/news/5.jpg" alt="">
</div>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}
