{% extends 'base.html.twig' %}


{% block body %}

<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">OGŁOSZENIE NABOŻEŃSTWA</h2>
<p>Dodał: Łukasz Lasota | 08.12.2020 r. | Emaus Rzeszów</p>

<p>Informujemy, że ponownie odbywają się niedzielne nabożeństwa o godzinie 10.00 w kaplicy naszego zboru przy ul. Dąbrowskiego 1a. Na nabożeństwo obowiązuje rejstracja pod numerem telefonu 17 85 29 641. Ilość miejsc jest ograniczona.</p>

<p>Środowe nabożeństwo zostają zawieszone do końca tego roku. Proponujemy jednak spotkanie online w każdą środę o 18.00. Zapraszamy gorąco.</p>

<p>Dla tych którzy nie mogą się połączyć wieczorem, zachęcamy do udziału w porannej kawie online z pastorem i jego żoną o godzinie 11.00.</p> 

<p>Link do spotkań poprzez aplikację zoom: <a href="https://us04web.zoom.us/j/5367440361">us04web.zoom.us/</a></p>
<p>Meeting ID: 536 744 0361</p>
<p>hasło: 111111</p>

<p>Przypominamy również, że chcąc uczestniczyć w nabożeństwie w budynku zborowym obowiązkowe jest posiadanie osłony na nos i usta (maseczka, przyłbica, chusta). Zalecamy także, aby osoby, które się źle czują, chorują lub miały kontakt z osobami chorymi pozostały w domach – dostępna będzie transmisja on-line niedzielnego nabożeństwa na naszym kanale na YouTube przed godziną 10.00, link: <a href="https://www.youtube.com/channel/UCnjQJvg70iKbJLsJ4UX4rxA">www.youtube.com/channel.</a></p>
<p>O wszelkich zmianach będziemy informować na bieżąco. Pozostańcie z Bogiem.</p>

<div class="col-12 col-md-9 d-flex justify-content-center p-0 pt-5 m-0">
    <a href="/img/news/13.jpg" class="example-image-link" id="lightbox-img" data-lightbox="image-1" data-title="OGŁOSZENIE NABOŻEŃSTWA">
        <img class="col-11" src="/img/news/13m.jpg" alt="OGŁOSZENIE NABOŻEŃSTWA">
    </a>    
</div>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}