{% extends 'base.html.twig' %}


{% block body %}

<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">OGŁOSZENIE NABOŻEŃSTWA</h2>
<p>Dodał: Marek Skrzypczak | 23.10.2020 r. | Emaus Rzeszów</p>

<p>Kochani, przypominamy, że niedzielne nabożeństwa odbywać się będą w budynku zborowym przy ulicy Dąbrowskiego 1a o godzinie 10.00. </p>
<p>W związku z obecną sytuacją w kraju będzie prowadzona rejestracja telefoniczna osób, które chcą uczestniczyć w nabożeństwie. Jeśli chcesz wziąć udział w niedzielnym nabożeństwie, prosimy o potwierdzenie przybycia na numer telefonu 17 85 29 641 (liczba miejsc jest ograniczona – w kaplicy zboru może przebywać maksymalnie 40 osób).</p>
<p>Prosimy również o punktualne przybycie na nabożeństwo, gdyż o godzinie 10.10 budynek zborowy zostanie zamknięty i nie będzie możliwości uczestnictwa w nabożeństwie.</p>
<p>W przypadku osób, które źle się czują, bądź mają jakiekolwiek problemy zdrowotne zalecamy do pozostania w domach i skorzystania z transmisji online nabożeństwa dostępnej na naszym kanale na YouTube tuż przed godziną 10.00.</p>
<p >Link: <a href="https://www.youtube.com/channel/UCnjQJvg70iKbJLsJ4UX4rxA">ww.youtube.com/channel</a></p>
{# <p>Ponadto informujemy, że przy wejściu będzie znajdował się płyn do dezynfekcji rąk</p> #}


<div class="col-12 col-md-9 d-flex justify-content-center p-0 pt-5 m-0">
    <a href="/img/news/13.jpg" class="example-image-link" id="lightbox-img" data-lightbox="image-1" data-title="OGŁOSZENIE NABOŻEŃSTWA">
        <img class="col-11" src="/img/news/13m.jpg" alt="OGŁOSZENIE NABOŻEŃSTWA">
    </a>    
</div>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}