{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">MOI DRODZY,</h2>
<p>Dodał: Marek Skrzypczak | 21.03.2020 r. | Emaus Rzeszów</p>
<p>Kwarantanna narodowa trwa już tydzień i mam nadzieję, że u was wszystko w porządku. Wiem, że niektórzy z was chodzą nadal do pracy lub pracują zdalnie, a pozostali po prostu zostali odesłani na przymusowy urlop do domu. Zdaję sobie sprawę z wielu niedogodności z tego powodu. Z pewnością mamy do czynienia z wyjątkową sytuacją.</p>
<p>Koronawirus spędza sen z powiek ludzi na całym świecie. Zdominował już nie tylko media i pierwsze strony gazet, ale również nasze rozmowy. (Gdyby tak ewangelia była przekazywana jak informacja o wirusie, hmm…)</p>
<p>Z pewnością nikt nie był przygotowany na koronawirusa. Stąd też pojawiają się jakże różne i często skrajne reakcje na to zjawisko. Nie omija to również kościoła. Jedni reagują całkowitą ignorancją nie przestrzegając żadnych ustalonych zasad, dostrzegając w tym raczej polityczną manipulację niż pandemię, inni natomiast twierdzą, że wierzący człowiek nie powinien przed tym uciekać, ale wręcz pokazać i udowodnić swoją wiarę, jeszcze inni są przerażeni i wpadają w panikę, co z pewnością wpływa na stan ducha. Każde doświadczenie a takim jest również koronawirus, jest próbą, takim sprawdzianem dla człowieka a zwłaszcza człowieka wierzącego, jak zareaguje na dane wydarzenie. Nie chcę tutaj demonizować ani zaklinać rzeczywistości, ale raczej podejść do sprawy tak zwyczajnie po prostu wierząc w to, co jest zapisane w Słowie Bożym. Wiadome jest, że myśli człowieka determinują jego wiarę i co za tym idzie postępowanie. Więc chcę się podzielić z wami, co myślę w obecnej sytuacji i jak w związku z tym postępuję. Może to komuś nieco pomoże.</p>
<p>Po pierwsze…</p>
<p>USPOKAJA mnie fakt, że Bóg jest Wszechmocny i Wszechwiedzący, a to znaczy, że wiedział o koronawirusie i całej tej sytuacji wcześniej niż my i z pewnością wie wszystko na jego temat i również to, kiedy wygaśnie, Może również uwolnić nas z jego wpływu w każdym momencie, jeśli zechce, DLATEGO SIĘ MODLĘ.</p>
<p>Po drugie…</p>
<p>WIEM także, że Bóg współdziała we wszystkim ku dobremu z tymi, którzy Boga miłują, więc mogę SPODZIEWAĆ SIĘ, że w ostateczności wyjdzie mi to na dobre.</p>
<p>Po trzecie…</p>
<p>W tych okolicznościach NIE MUSZĘ DEMONSTROWAĆ swojej wiary i nikomu niczego udowadniać. Po prostu NIE PCHAM SIĘ tam gdzie nie muszę i gdzie wiem, że może spotkać mnie nieszczęście. Król Salomon daje mi cenną w tym temacie lekcję. „Rozważny, widząc zło, kryje się, nierozważni tam idą i szkodę ponoszą Przyp. Sal. 27,12. Ale jednocześnie wiem, że gdy sytuacja tego będzie wymagać i nie będzie innego wyjścia, to wtedy zrobię krok wiary, bo tak trzeba. JESTEM TEGO ŚWIADOMY, że jeśli żyję, to dla Pana żyję, a jeśli umieram, to dla Pana umieram:, ponieważ, czy żyjemy czy umieramy Pańscy jesteśmy. (Rzym.14:8). Mając tym bardziej na uwadze słowa Pawła, że, jeśli tylko w tym życiu pokładamy nadzieję w Chrystusie, jesteśmy ze wszystkich ludzi najbardziej pożałowania godni. 1 Kor. 15:19 </p>
<p>Po czwarte…</p>
<p>Każde nieszczęście o tak dużym zasięgu to przede wszystkim wyzwanie dla rządzących. Nie muszę przypominać, że wszelka władza od Boga jest ustanowiona, niezależnie, jaka frakcja w danym momencie sprawuje tę władzę. Każda ich decyzja to ogromna odpowiedzialność, więc potrzebują dzisiaj nie tyle naszych komentarzy, co naszej MODLITWY. Modlitwy o mądrość w podejmowaniu właściwych decyzji. I tutaj jest moja rola i kościoła, aby zgodnie ze Słowem Bożym modlić się za wszystkich sprawujących władzę.</p>
<p>Ale nie tylko potrzebują modlitwy, lecz również naszej współpracy wyrażającej się w zwyczajnym posłuszeństwie do ustalonych zasad. Powinniśmy to zrobić chociażby, ze względu na naszego Pana i Zbawiciela Jezusa Chrystusa. Jeśli zalecają nam min. unikanie większych skupisk ludzi i nie podawanie sobie ręki, oraz częste ich mycie, to po prostu zróbmy to. Nie sądzę żeby moja wiara na tym ucierpiała no … może trochę moja duma. :)</p>
<p>I na zakończenie chcę zaznaczyć, że każde utrapienie czy nieszczęście w swej naturze ma charakter swoistej terapii wstrząsowej. Budzi nagle człowieka z letargu przyzwyczajenia i wygody, ingerując gwałtownie w jego życiowe plany. Dla człowieka wierzącego to czas duchowej pobudki. Wszyscy dobrze wiemy, że właśnie w takim momencie o wiele łatwiej i chętniej szukamy Bożej obecności. To również czas konfrontacji, jakości naszego duchowego życia i wiary. Zaczynamy ponownie zdawać sobie sprawę z naszej słabości i przypominać, że jesteśmy tak bardzo zależni od naszego Ojca w niebie.</p>
<p>Nie unikniemy nieszczęść i prób w naszym życiu, nikt nam przecież tego nie gwarantował ale w zamian mamy BOŻE OBIETNICE, których POWINNIŚMY SIĘ TERAZ MOCNO UCHWYCIĆ.</p>
<p>W Psalmie 34,20 czytamy, że…</p>
<p>„Wiele nieszczęść spada na sprawiedliwego, ale PAN WYBAWIA GO OD WSZYSTKICH.”</p>
<p>Zauważmy, że najpierw jednak nieszczęście musi na sprawiedliwego spaść, żeby Pan go wybawił…</p>
<p>Ap. Paweł pięknie podsumowuje tą ważną prawdę słowami z Listu do Rzymian 8,18</p>
<p>„Albowiem sądzę, że utrapienia teraźniejszego czasu nic nie znaczą w porównaniu z chwałą, która ma się objawić.”</p>
<p>I pamiętajmy, że NAJLEPSZE DOPIERO JEST PRZED NAMI !</p>
<p>Kochani, zatem nie ma potrzeby panikować ani traktować z lekceważeniem obecnej sytuacji. PO PROSTU ZAUFAJMY NASZEMU ZBAWICIELOWI I Z MĄDROSCIĄ, ODWAGĄ, I POWAGĄ PODEJDŹMY DO KORONAWIRUSA.</p>
<p>Pozdrawiam Was, <br>Pastor Marek Skrzypczak</p>


<div class="col-12 col-md-9 col-x-6 d-flex justify-content-center p-0 pt-5 m-0">
    <img  class="col-11" src="/img/news/1.jpg" alt="Zdjecie piura">
</div>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}