{% extends 'base.html.twig' %}

{% block body %}

<header id="One">
  {% include "components/menu.html.twig" %}
</header>

<main>
<section class="news-text col-11 col-md-11 col-xl-9 mx-auto px-1 d-flex flex-wrap justify-content-center">

<h2 class="main-h2">EMAUS DLA DZIECI</h2>
<p>Dodał: Marek Skrzypczak | 05.05.2020 r. | Emaus Rzeszów</p>

<p>W najbliższą niedzielę zapraszamy wszystkie dzieci do uczestnictwa w szkółce online.</p>
<p>Prosimy rodziców o udostępnienie dzieciom urządzeń, na których będą mogły uczestniczyć w szkółce.</p>
<p>Transmisja rozpocznie się w trakcie trwania niedzielnego nabożeństwa o godzinie 10.45</p>
<p>Link do kanały na youtub: <a href="https://www.youtube.com/channel/UCZWmn5Jy76xTdZTriofgLCg">www.youtube.com/emaus-dla-dzieci</a> </p>

<p>Zapraszamy również do naszej grupy "Emaus dla Dzieci" na Facebooku aby móc śledzić nowości i być na bieżąco z kolejnymi pomysłami <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F171814894191128%2F%3Fsource_id%3D159801290724840">www.facebook.com/groups/</a></p>

</section>
</main>
{% endblock %}

{% block footer %}
  {% include "components/footer.html.twig" %}
{% endblock %}

