{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<header>

  <nav class="navbar d-flex justify-content-between fixed-top navbar-expand-lg m-0 p-0">
    
    <h1 class="navbar-brand col-4 col-md-3 col-lg-2 col-xl-1 m-0 py-0" href="/"><img class="d-block w-75" src="img/logo/logo-menu-white.png" alt="Transmisja nabożeństw"></h1> 
    
    <button class="navbar-toggler custom-toggler px-1 py-0 m-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon p-4 p-md-4"></span>
    </button>
    
    <div class="collapse navbar-collapse col-12 col-lg-9 col-xl-6  m-0 p-0" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex justify-content-between col-12 m-0 p-0">
        {% for item in menu %}
          <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
            <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="{{item.href }}">{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <picture>
            <source media="(max-width:600px)" srcset="img/main/1s.jpg">
            <img class="d-block w-100" src="img/main/1.jpg" alt="Transmisja nabożeństw">
        </picture>
    </div>
    <div class="carousel-item">
      <picture>
            <source media="(max-width:600px)" srcset="img/main/2s.jpg">
            <img class="d-block w-100" src="img/main/2.jpg" alt="Nabożeńśtwa niedzielne: 10.00 oraz środowe: 18.00">
        </picture>
    </div>
    <div class="carousel-item">
      <picture>
            <source media="(max-width:600px)" srcset="img/main/3s.jpg">
            <img class="d-block w-100" src="img/main/3.jpg" alt="Spotkania Modlitewne">
        </picture>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Następny</span>
  </a>
</div>
</header>
<main>
  <section class="first d-flex wrap">
    <div class="welcome col-6">
    </div>
    <div class="news col-6">
      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="card-img-top col-10" src="/img/1.jpg" alt="Card image cap"></div>
          <div class="swiper-slide"><img class="card-img-top col-10" src="/img/1.jpg" alt="Card image cap"></div>
          <div class="swiper-slide"><img class="card-img-top col-10" src="/img/1.jpg" alt="Card image cap"></div>
        
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

    </div>
    
  </section>

</main>

{% endblock %}
