.contact{
    background: $BG;
    padding-bottom: 100px;
    h2{
        background: linear-gradient(to right, #fff 0%, #fff 100%);
        -webkit-background: linear-gradient(to right, #fff 0%, #fff 100%);
        -ms-background: linear-gradient(to right, #fff 0%, #fff 100%);
        -moz-background: linear-gradient(to right, #fff 0%, #fff 100%);
        -o-background: linear-gradient(to right, #fff 0%, #fff 100%);
       -webkit-font-smoothing: antialiased;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 95px 10px;

    }
    p{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    a{
        color: white;
    }
    textarea{
        height: 150px;
    }
    
}