.meet{
padding: 80px 0 200px;
}

@media (max-width: 1025px){
    .meet{
        padding: 80px 0 70px;
        }
}

.card-label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    height: 250px;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0;
    @media (max-width: 1600px){
        height: 315px;
    }
    @media (max-width: 800px){
        height: 290px;
    }
}


.card-x::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background: $BG;
  -moz-background: $BG;
  background: $BG;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: -1;
}

.card-x:hover::after
{
  opacity: 1;
}

.card-x:hover{
    .front p, .front h3, .back p{
        color: white;
    }
}

@media (max-width: 1025px){
    
.card-x::after
{
  content: "";
  display: none;
}

.card-x:hover::after
{
    display: none;
}

.card-x:hover{
    p, h3{
        color: black;
    }
}

}

.card-x {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
    h3{
        width: 100%;
        padding: 10px;
    }
    p{
        width: 100%;
        padding: 5px 5px 0 5px;
        font-size: 1.1rem;
        margin-bottom: 0;
    }
}

    .card-x div {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 150%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
        padding: 15px;
    }


    .card-x .front{
        color: black;
        p{
            text-align: center;
        }
    }
    .card-x .back {
        color:black;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        p{
            text-align: left;
        }
    }

// label:hover .card-x {
//     -webkit-transform: rotateX(20deg);
//     transform: rotateX(20deg);
//     box-shadow: 0 20px 20px rgba(50,50,50,.2);
// }


input {
    display: none;
}

:checked + .card-x {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}


// label:hover :checked + .card-x {
//     transform: rotateX(160deg);
//     -webkit-transform: rotateX(160deg);
//     box-shadow: 0 20px 20px rgba(255,255,255,.2);
// }

.more-paragraph{
    display: none;
}

@media (max-width: 1025px){
    .more-paragraph{
        display: block;
    }
}