.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  
  .navbar{
    background: $BG-D;
    a{
        font-size: 1.5rem;
    }
    @media (max-width: 600px){
        a{
            font-size: 1.1rem;
        }
    }
    @media (max-width: 1200px){
        a{
            font-size: 1.2rem;
        }
    }
    @media (min-width: 1201px){
        a{
            font-size: 1.0rem;
        }
    }
  }

  .hover::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.hover:hover::after
{
    width: 100%;
    transition: width .3s;
}
