.card {
    border: 1px solid #008089;
    a:hover {
        text-decoration: none;
    }
}

.first{
padding-top: 2px;
}

.welcome{
    background: $BG;
    height: 95vh;
    
    a{
        height: 95vh;
    }
    a:hover{
        text-decoration: none;
    }
    .welcome-img{
        height: 50%;
        padding-bottom: 5%;
        img{
            height: 60%;
            width: auto;
        }
    }
    .welcome-text{
        height: 50%;
        font-size: 1.3rem;
    }
}
.sub-news{
    @media (min-width: 1500px){
        width: 70%;
    }
}