.law{
    padding: 100px 0 220px;
    p{
        @media (min-width: 1500px){
            width: 60%;
        }
    }
    .accordion{
        @media (min-width: 1500px){
            width: 60%;
        }
    }
    h3{
        button{
            font-size: 1.4rem;
            color: black;
        }
    }
    .card-body{
        ul{
            width: 100%;
            padding-left: 0;
            font-size: 1.2rem;
            li{
                padding-left: 25px;
                list-style: none;
            }
        }
    }
}