$BG: linear-gradient(to left bottom, #008089 0%, #002432 100%);
$BG-D: linear-gradient(to bottom, #008089 0%, #002432 100%);

@mixin position($type, $top, $right, $bottom, $left){
    position: $type;
    top: $top;
    right: $right; 
    bottom: $bottom;
    left: $left;
}

@mixin gradient{
    text-transform: uppercase;
    -webkit-background: linear-gradient(to right, #008089 0%, #002432 100%);
    -moz-background: linear-gradient(to right, #008089 0%, #002432 100%);
    background: linear-gradient(to right, #008089 0%, #002432 100%);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: normal;
}