<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="img/logo/logo-black.png" type="image/x-icon" />

        <meta name="description" content="Kościół Zielonoświątkowy w Rzeszowie, Zielonoświątkowcy Rzeszów, Protestanci Rzeszów, Zbór, Chrześcijanie, Nabożeństwa, Jesus Chrystus, Mniejszości wyznaniowe, Kościół w Rzeszowie, KZ Rzeszów, KZ, Pentecostal church, Christian, community" />
        <meta name="keywords"
	    content="Kościół Zielonoświątkowy w Rzeszowie, Zielonoświątkowcy Rzeszów, Protestanci Rzeszów, Zbór, Chrześcijanie, Nabożeństwa, Jesus Chrystus, Mniejszości wyznaniowe ,KZ Rzeszów, KZ, Pentecostal church, Christian, community" />

        <title>{% block title %}Kościół Zielonoświątkowy Zbór Emaus w Rzeszowie{% endblock %}</title>
        {% block stylesheets %}
             {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

         
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140238110-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-140238110-1');
        </script>

    </head>

    <body>
        {% block body %}{% endblock %}
         
    {% block footer %}

    <footer class="footer col-12">
        <div class="footer-container mx-auto col-12 col-md-9 col-xl-8 d-flex flex-wrap justify-content-start text-white p-1 p-lg-1 ">
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap justify-content-start align-items-center h4-links">
                <h4 class="col-12 py-4 pl-1">MENU</h4>
                <ul class="col-12 mx-0 list-unstyled p-0">
                    <li>
                        <a href="/">GŁÓWNA</a>
                    </li>
                    <li>
                        <a href="#Three" >KIM JESTEŚMY</a>
                    </li>
                    <li>
                        <a href="#Four">NASZE SPOTKANIA</a>
                    </li>
                    <li>
                        <a href="/aktualnosci">AKTUALNOŚCI</a>
                    </li>
                    <li>
                        <a href="#Five">KONTAKT</a>
                    </li>
                </ul>
            </div>
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap justify-content-start">
                <h4 class="col-12 py-4 pl-1">NA SKRÓTY</h4>
                <ul class="col-12 mx-0 list-unstyled p-0 ">
                    <li>
                        <a href="https://pl-pl.facebook.com/Ko%C5%9Bci%C3%B3%C5%82-Zielono%C5%9Bwi%C4%85tkowy-Zb%C3%B3r-Emaus-w-Rzeszowie-159801290724840/" >
                        <img src="img/footer/f-1.png" alt="">
                        Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Dynamis-MR-1273639636074462/" target="_blank" >
                            <img src="img/footer/f-2.png" alt="">
                            Dynamis-MR</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/DaughtersofKINGliveinQueensdom/?__tn__=%2Cd%2CP-R&eid=ARAfDj9o_TkheYVb_ECPs3Y3wymSe1aUnyJ_5dUXPqIoT5CslN7EHj7ta4yJKjcyojaEP4HKSNrmsn5w" >
                            <img src="img/footer/f-3.png" alt="">
                            Queensdom</a>
                    </li>
                    <li>
                        <a href="http://www.royalrangers.pl/">
                            <img src="img/footer/f-4.png" alt="">
                            Royal Rangers</a>
                    </li>
                    <li>
                        <!-- Button trigger modal -->
                        <buton type="button" data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="img/footer/f-5.png" alt="">
                            RODO</button>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenter">POLITYKA PRYWATNOŚCI RODO.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>W związku z wejściem w życie Rozporządzenia Parlamentu Europejskiego i Rady 2016/679 z dnia 27 kwietnia 2016 r. o ochronie danych osobowych osób fizycznych informuję, że dane osobowe przetwarzane na niniejszej stronie internetowej są prawnie chronione</p>
          <p>Administratorem danych osobowych jest Pastor Kościoła Zielonoświątkowego Zboru "Emaus" w Rzeszowie zlokalizowanego przy ul. Dąbrowskiego 1A</p>
          <p>1. Dane przetwarzane są w celu informowania o działalności związanej z wydarzeniami w ramach działalności statutowej, zgodnej z Prawem Wewnętrznym Kościoła Zielonoświątkowego w RP oraz Regulaminem Ochrony Danych Osobowych, obowiązujących w Kościele Zielonoświątkowym z siedzibą w Warszawie przy ul. Siennej 68/70.</p>
          <p>2. W ramach obowiązującego Regulaminu przysługuje prawo do cofnięcia zgody na przetwarzanie danych osobowych w dowolnym momencie.</p>
          <p>3. Masz prawo dostępu do treści swoich danych osobowych, do ich sprostowania, usunięcia, ograniczenia przetwarzania oraz przeniesienia danych do innego administratora.</p>
          <p>4. Masz prawo do wniesienia skargi do Komisji Ochrony Danych Osobowych, której Przewodniczący pełni funkcję Inspektora Ochrony Danych.</p>
          <p>5. Wskazane dane nie są profilowane, nie są przekazywane innym podmiotom lub administratorom bez zgody osoby której dotyczą.</p>
          <p>6. Zgromadzone dane osobowe będą przechowywane do czasu zakończenia wskazanego celu lub przez okres jednego roku, licząc od początku roku następującego po dacie wyrażenia zgody (w zależności od tego, który z tych okresów jest dłuższy).</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>

                    </li>
                </ul>
            </div>
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap justify-content-start align-items-start px-0">
                <h4 class="col-12 py-4 pl-1">KONTAKT</h4>
                <ul class="col-12 mx-0 list-unstyled -flex flex-wrap justify-content-center align-items-start p-0">
                    <li>
                        <a><img src="img/footer/f-6.png" alt="">
                            TELEFON: 17 85 29 641</a>
                    </li>
                    <li>
                        <a href="mailto:emausrz@gmail.com">
                            <img src="img/footer/f-7.png" alt="">
                            EMAUSRZ@GMAIL.COM</a>
                    </li>
                    <li>
                        <a ><img src="img/footer/f-8.png" alt="">
                            UL. DĄBROWSKIEGO 1A, <br>35-036 RZESZÓW</a>
                    </li>
                </ul>
            </div>
        </div>
</footer>
    
    {% endblock %}
    
         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
        
    </body>
    
</html>
