{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header>
  {% include "components/menu.html.twig" %}

  <div class="col-12 p-0 m-0">
    <picture >
        <source srcset="img/subpage/porownanie-s.jpg" media="(max-width: 480px)">
        <img  class="col-12 p-0 m-0" src="img/subpage/porownanie.jpg" alt="Wyznanie wiary">
    </picture>
  </div>
</header>
<main>

<section class="comparison">

  <h2 class="main-h2 col-12 col-md-10 ol-xl-10 mx-auto text-center">PODOBIEŃSTWA I RÓŻNICE MIĘDZY WIARĄ I PRAKTYKĄ KOŚCIOŁA RZYMSKOKATOLICKIEGO A  KOŚCIOŁA ZIELONOŚWIĄTKOWEGO</h2>

  <div class="accordion col-12 col-md-10 col-xl-10 mx-auto" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn  btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Bóg
          </button>
        </h3> 
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
         
          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Kanon wiary
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
        

         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Dar zbawienia
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          
            
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            Liturgia
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          


      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Sakramenty
          </button>
        </h3>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          


         </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSix">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Kościół
          </button>
        </h3>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          

          
         </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingSeven">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Kult i święta
          </button>
        </h3>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          

          
         </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingEight">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Eschatologia
          </button>
        </h3>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          

          
         </div>
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header" id="headingNine">
      <h3 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Wychowanie i etyka
        </button>
      </h3>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body d-flex flex-wrap justify-content-center">
        

        
       </div>
    </div>
  </div>

</div>



</section>

</main>
{% endblock %}
