{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header>
    {% include "components/menu.html.twig" %}
  
    <div class="col-12 p-0 m-0">
      <picture >
          <source srcset="img/subpage/prawo-s.jpg" media="(max-width: 480px)">
          <img  class="col-12 p-0 m-0" src="img/subpage/prawo.jpg" alt="Akty prawne">
      </picture>
    </div>
  </header>









{% endblock %}
