{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header>
    {% include "components/menu.html.twig" %}
  
    <div class="col-12 p-0 m-0">
      <picture >
          <source srcset="img/subpage/prawo-s.jpg" media="(max-width: 480px)">
          <img  class="col-12 p-0 m-0" src="img/subpage/prawo.jpg" alt="Akty prawne">
      </picture>
    </div>
  </header>
<main>

<section class="law ">

  <p class="col-11 col-lg-10 mx-auto" >Kościół to zarówno "duchowy organizm", jak i ziemska organizacja. Nowy Testament niewiele nam mówi o tym jak powinien być zorganizowany, i jak powinien funkcjonowac Kościół na ziemi. Jeśli już coś możemy znaleźć, to raczej pewne zasady regulujące wzajemne relacje, pouczenia dotyczące charakteru usługujących niż opis struktury czy działania.</p>
  <p class="col-11 col-lg-10 mx-auto pb-5" >Zarówno w Księdze Dziejów Apostolskich jak i listach znajdujemy raczej relację z kształtowania się struktur kościoła niż "przepis" na to, jak on miałby funkcjonować. Dlatego też możemy, będąc wrażliwymi na wskazówki Słowa Bożego, tak dostosowywać struktury/zasady, by Kościół mógł wypełniać swoją rolę i zadania. Kościół Zielonoświątkowy w RP przyjmując pewne rozwiązania prawne ma nadzieję, że pomogą one godnie realizować powołanie Kościoła.</p>


  <div class="accordion col-12 col-md-11 col-lg-10 mx-auto" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn  btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ustawa z dnia 20 lutego 1997 r. o stosunku Państwa do KZ w RP
          </button>
        </h3> 
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
         <ul >Rozdział 1 Przepisy ogólne
           <li>Art. 1.
              <ul>
                <li>1. Ustawa określa stosunek Państwa do Kościoła Zielonoświątkowego w Rzeczypospolitej Polskiej, zwanego dalej "Kościołem", oraz jego sytuację prawną i majątkową.</li>
                <li>2. W sprawach odnoszących się do Kościoła, nie uregulowanych w ustawie, stosuje się powszechnie obowiązujące przepisy prawa.</li>
                <li>3. Wszelkie zmiany niniejszej ustawy wymagają uprzedniej opinii Prezydium Naczelnej Rady Kościoła.</li>
              </ul>
           </li>
         </ul>

         <a href="/pdf/ust_41_1997.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Prawo Wewnętrzne Kościoła Zielonoświątkowego w RP
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          <ul>Rozdział 1 - Tożsamość Kościoła
            <li>Art. 1.
               <ul>
                 <li>1. Kościół Zielonoświątkowy w Rzeczypospolitej Polskiej, ukonstytuował się na mocy uchwały przyjętej przez Synod Założycielski, obradujący w Warszawie w dniach 22-23 maja 1987 roku, w którym wzięli udział delegaci 82 zborów wchodzących wówczas w skład Zjednoczonego Kościoła Ewangelicznego. Prawne uznanie Kościoła nastąpiło dnia 1 lutego 1988 roku.</li>
                 <li>2. Kościół Zielonoświątkowy w Rzeczypospolitej Polskiej jest kontynuacją dwóch nurtów ruchu zielonoświątkowego: Związku Stanowczych Chrześcijan (od 1910 r.) i Kościoła Chrześcijan Wiary Ewangelicznej (od 1929 r.) oraz wspólnoty Zjednoczonego Kościoła Ewangelicznego (partycypacja: Stanowczy Chrześcijanie od 1947 r., Chrześcijanie Wiary Ewangelicznej od 1953 r.).</li>
                 <li>3. Zbory tworzące Kościół Zielonoświątkowy w Rzeczypospolitej Polskiej stanowią cząstkę Kościoła Powszechnego, Ciała, którego Głową jest Jezus Chrystus, Pan i Zbawiciel (Ef 1,22-23). Dlatego w łączności z innymi chrześcijanami, wierni Kościoła Zielonoświątkowego wyznają swoją wiarę słowami apostolskiego i nicejsko-konstantynopolitańskiego wyznania wiary.</li>
               </ul>
            </li>
          </ul>
 
          <a href="/pdf/PrawoWewnetrzneKZ-2018.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
 
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Rozporządzenia ministerialne
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          
          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center pt-3 pb-5 px-0">
            <ul>Rozporządzenie Ministra Edukacji Narodowej oraz Ministra Zdrowia i Opieki Społecznej (Dz. U. 1997 nr 128, poz. 832)
              <li class="pt-3">W sprawie szczegółowych zasad organizowania nauczania kościelnego, nabożeństw i wykonywania innych praktyk religijnych właściwych dla wyznania zielonoświątkowego dzieciom i młodzieży przebywającym w zakładach opiekuńczych i wychowawczych, w sanatoriach, prewentoriach i szpitalach oraz korzystającym z zorganizowanego odpoczynku. (Dz. U. Nr 128, poz. 832)
              </li>
              <li class="pt-3">Na podstawie art. 19 ust. 5 ustawy z dnia 20 lutego 1997 r. o stosunkach Państwa do Kościoła Zielonoświatkowego w Rzeczypospolitej Polskiej (Dz. U. Nr 41, poz. 254) zarządza się, co następuje:
              </li>
            </ul>
            <a href="/pdf/RMEN.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box d-flex flex-wrap justify-content-center pt-5 pb-4 px-0">
            <ul>Rozporządzenie Ministra Sprawiedliwości (Dz. U. 2003, Nr 159, poz. 1546)
              <li class="pt-3">W sprawie szczegółowych zasad wykonywania praktyk religijnych i korzystania z posług religijnych w zakładach karnych i aresztach śledczych.
              </li>
              <li class="pt-3">Na podstawie art. 106 § 4 ustawy z dnia 6 czerwca 1997 r. — Kodeks karny wykonawczy (Dz. U. Nr 90, poz. 557, z póżn. zm.1) zarządza się, co następuje:
              </li>
            </ul>
            <a href="/pdf/RMS.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Oświadczenia Rady Kościoła
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
          
          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-3 px-0">
            <ul>W sprawie Chrztu Wiary i błogosławieństwa dzieci
              <li class="pt-3">Greckie słowo baptidzo oznacza "myć, zanurzać" i przeszło do terminologii chrześcijańskiej jako terminus technicus czynności związanej z aktem inicjacji chrześcijańskiej. Występuje w Nowym Testamencie około sto razy, wliczając w to również obmycia rytualne Żydów, chrzest Jana Chrzciciela, chrzest w Duchu Świętym.
              </li>
            </ul>
            <a href="/pdf/osw_chrzest.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie Wieczerzy Pańskiej
              <li class="pt-3">Uczestnicząc w Wieczerzy Pańskiej pod dwiema postaciami: chleba i wina, Kościół wspomina śmierć Chrystusa. Akt ten określa się następującymi terminami:
                <ul>
                  <li>Wieczerza Pańska (1 Kor 11,20),</li>
                  <li>Łamanie Chleba (Mt 26,26; Mk 14,22; Łk 22,19; Dz 2,42.46; 20,7; 1 Kor 10,16.17ab; 11,23.26-28),</li>
                  <li>Stół Pański (1 Kor 10,21),</li>
                </ul>
              </li>
            </ul>
            <a href="/pdf/osw_wp.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie tzw. ruchu wstawienniczego
              <li class="pt-3">W ostatnim czasie zauważamy w Polsce rozwój ruchu wstawienniczego, który przejawia się przez organizowanie masowych konferencji. Zjawisko to wywołało różnorodne antagonistyczne postawy w Kościele. W związku z tym istnieje potrzeba zajęcia stanowiska przez Naczelną Radę Kościoła Zielonoświątkowego w Polsce.
              </li>
            </ul>
            <a href="/pdf/osw_wstawie.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>Przebudzenie w czasach ostatecznych jako suwerenne dzieło Ducha Świętego
              <li class="pt-3">Jak czytamy w Księdze Kaznodziei Salomona, "nie ma nic nowego pod słońcem" (Kzn 1,9).Pokolenia przychodzą i odchodzą - Ruchy przebudzeniowe również. Głód poznania Boga pojawia się i - niestety - zanika. Niektórzy przedkładają rutynę ponad to co niespodziewane, inni przeciwnie, gorączkowo pragną przeżyć coś niezwykłego.
              </li>
            </ul>
            <a href="/pdf/osw_przebudz.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie służby kobiet w Kościele
              <li class="pt-3">Uznajemy, że kobiety na równi z mężczyznami są "dziedziczkami łaski żywota" i współuczestniczkami służby charyzmatycznej w Kościele, zgodnie z następującymi fragmentami Nowego Testamentu: "Podobnie wy, mężowie, postępujcie z nimi z wyrozumiałością jako ze słabszym rodzajem niewieścim i okazujcie im cześć, skoro i one są dziedziczkami łaski żywota, aby modlitwy wasze nie doznały przeszkody" (1P 3,7).
              </li>
            </ul>
            <a href="/pdf/osw_kobiety.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>


          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie małżeństwa, rozwodu, powtórnego małżeństwa oraz planowania rodziny
              <li class="pt-3">Małżeństwo jest instytucją ustanowioną przez Boga. Jest to monogamiczny i nierozerwalny związek mężczyzny i kobiety. (Rdz 2,23-24; Mt 19,5-6; Mk 10,6-12; Ef 5,31).
              </li>
              <li class="pt-3">Małżeństwo uważa się za zawarte z chwilą złożenia ślubowania, mającego charakter aktu publicznego zgodnego z obowiązującymi normami prawnymi i kościelnymi. (Rdz 24,67; 29,22-23; Sdz 14,10; Rt 4,11-13; Mt 1,18-21;).
              </li>
            </ul>
            <a href="/pdf/osw_malzenstwo.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box border-bottom border-dark d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie stosunku do zjawisk towarzyszących duchowemu ożywieniu
              <li class="pt-3">Członkowie Naczelnej Rady Kościoła Zielonoświątkowego w Polsce na swym nadzwyczajnym posiedzeniu, w którym uczestniczyło kilku pastorów spoza Rady, w dniu 20 czerwca 1995 r. w wyniku braterskiej rozmowy i modlitwy uzgodnili swe stanowisko wobec zjawisk towarzyszących duchowemu ożywieniu, jakie ostatnio zauważane jest w świecie oraz w naszym kraju. Stwierdzono, co następuje:
              </li>
            </ul>
            <a href="/pdf/osw_zjawiska.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

          <div class="ul-box d-flex flex-wrap justify-content-center py-5 px-0">
            <ul>W sprawie stosunku do organizacji parakościelnych
              <li class="pt-3">UW obliczu nowej sytuacji społecznej i politycznej zachodzi potrzeba wyrażenia stanowiska w sprawie działalności w naszym kraju krajowych i zagranicznych organizacji parakościelnych.
                <ul>
                  <li>Stwierdzamy na podstawie Słowa Bożego, że jedyną instytucją pozostawioną na tej ziemi i przeznaczoną do głoszenia Słowa Bożego oraz "czynienia uczniami" jest Kościół Jezusa Chrystusa. [Ef 3,10; 1Tm 3,15; Dz 13,1-3; 22,10].</li>
                  <li>Kościół Jezusa funkcjonuje w zborach rozsianych po całym kraju i współpracujących ze sobą w ramach organizacji kościelnych.</li>
                </ul>
              </li>
            </ul>
            <a href="/pdf/osw_parakoscielne.pdf" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>
          </div>

         </div>
      </div>
    </div>
  </div>

</section>

</main>
{% endblock %}
