{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header>
    {% include "components/menu.html.twig" %}
  
    <div class="col-12 p-0 m-0">
      <picture >
          <source srcset="img/subpage/prawo-s.jpg" media="(max-width: 480px)">
          <img  class="col-12 p-0 m-0" src="img/subpage/prawo.jpg" alt="Akty prawne">
      </picture>
    </div>
  </header>
<main>

<section class="law ">

  <p class="col-12 col-md-10 col-lg-9 mx-auto" >Kościół to zarówno "duchowy organizm", jak i ziemska organizacja. Nowy Testament niewiele nam mówi o tym jak powinien być zorganizowany, i jak powinien funkcjonowac Kościół na ziemi. Jeśli już coś możemy znaleźć, to raczej pewne zasady regulujące wzajemne relacje, pouczenia dotyczące charakteru usługujących niż opis struktury czy działania.</p>
  <p class="col-12 col-md-10 col-lg-9 mx-auto pb-5" >Zarówno w Księdze Dziejów Apostolskich jak i listach znajdujemy raczej relację z kształtowania się struktur kościoła niż "przepis" na to, jak on miałby funkcjonować. Dlatego też możemy, będąc wrażliwymi na wskazówki Słowa Bożego, tak dostosowywać struktury/zasady, by Kościół mógł wypełniać swoją rolę i zadania. Kościół Zielonoświątkowy w RP przyjmując pewne rozwiązania prawne ma nadzieję, że pomogą one godnie realizować powołanie Kościoła.</p>


  <div class="accordion col-11 col-md-10 col-lg-9 mx-auto" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn  btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ustawa z dnia 20 lutego 1997 r. o stosunku Państwa do KZ w RP
          </button>
        </h3> 
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body d-flex flex-wrap justify-content-center">
         <ul >Rozdział 1 Przepisy ogólne
           <li>Art. 1.
              <ul>
                <li>1. Ustawa określa stosunek Państwa do Kościoła Zielonoświątkowego w Rzeczypospolitej Polskiej, zwanego dalej "Kościołem", oraz jego sytuację prawną i majątkową.</li>
                <li>2. W sprawach odnoszących się do Kościoła, nie uregulowanych w ustawie, stosuje się powszechnie obowiązujące przepisy prawa.</li>
                <li>3. Wszelkie zmiany niniejszej ustawy wymagają uprzedniej opinii Prezydium Naczelnej Rady Kościoła.</li>
              </ul>
           </li>
         </ul>

         <a href="#" class="btn btn-secondary py-3 px-3 my-4 mx-auto text-uppercase">Czytaj dalej (PDF)</a>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Prawo Wewnętrzne Kościoła Zielonoświątkowego w RP
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Rozporządzenia ministerialne
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            Oświadczenia Rady Kościoła
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>













</section>

</main>
{% endblock %}
