<footer class="footer col-12">
        <div class="footer-container mx-auto col-12 col-md-9 col-xl-8 d-flex flex-wrap justify-content-center text-white p-1 p-lg-1 align-items-start">
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap justify-content-center">
                <h4 class="col-12 py-4 pl-1">MENU</h4>
                <ul class="col-12 mx-0 list-unstyled p-0">
                    <li>
                        <a href="/">GŁÓWNA</a>
                    </li>
                    <li>
                        <a href="/#Two" >KIM JESTEŚMY</a>
                    </li>
                    <li>
                        <a href="/#Three">NASZE SPOTKANIA</a>
                    </li>
                    <li>
                        <a href="/aktualnosci">AKTUALNOŚCI</a>
                    </li>
                    <li>
                        <a href="/#Four">KONTAKT</a>
                    </li>
                </ul>
            </div>
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap">
                <h4 class="col-12 py-4 pl-1">NA SKRÓTY</h4>
                <ul class="col-12 mx-0 list-unstyled p-0 ">
                    <li class="">
                        <a href="https://pl-pl.facebook.com/Ko%C5%9Bci%C3%B3%C5%82-Zielono%C5%9Bwi%C4%85tkowy-Zb%C3%B3r-Emaus-w-Rzeszowie-159801290724840/" >
                        <img src="img/footer/f-1.png" alt="">
                        Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Dynamis-MR-1273639636074462/" target="_blank" >
                            <img src="img/footer/f-2.png" alt="">
                            Dynamis-MR</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/DaughtersofKINGliveinQueensdom/?__tn__=%2Cd%2CP-R&eid=ARAfDj9o_TkheYVb_ECPs3Y3wymSe1aUnyJ_5dUXPqIoT5CslN7EHj7ta4yJKjcyojaEP4HKSNrmsn5w" >
                            <img src="img/footer/f-3.png" alt="">
                            Queensdom</a>
                    </li>
                    <li>
                        <a href="http://www.royalrangers.pl/">
                            <img src="img/footer/f-4.png" alt="">
                            Royal Rangers</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="img/footer/f-5.png" alt="">
                            RODO</a>
                    </li>
                </ul>
            </div>
            <div class="footer-one col-12 col-md-4 d-flex flex-wrap justify-content-center align-items-start px-0">
                <h4 class="col-12 py-4 pl-1">KONTAKT</h4>
                <ul class="col-12 mx-0 list-unstyled -flex flex-wrap justify-content-center align-items-start p-0">
                    <li>
                        <a><img src="img/footer/f-6.png" alt="">
                            TELEFON: 17 85 29 641</a>
                    </li>
                    <li>
                        <a href="mailto:emausrz@gmail.com">
                            <img src="img/footer/f-7.png" alt="">
                            EMAUSRZ@GMAIL.COM</a>
                    </li>
                    <li>
                        <a ><img src="img/footer/f-8.png" alt="">
                            UL. DĄBROWSKIEGO 1A, <br>35-036 RZESZÓW</a>
                    </li>
                </ul>
            </div>
        </div>
       </footer>