<nav class="navbar d-flex justify-content-between fixed-top navbar-expand-lg m-0 p-0 bg">
    
    <h1 class="navbar-brand col-4 col-md-3 col-lg-2 col-xl-1 m-0 py-0">
        <a href="/">
          <img class="d-block w-75" src="img/logo/logo-menu-white.png" alt="Transmisja nabożeństw">
        </a>
    </h1> 
    
    <button class="navbar-toggler custom-toggler px-1 py-0 m-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon p-4 p-md-4"></span>
    </button>
    
    <div class="collapse navbar-collapse col-12 col-lg-9 col-xl-6  m-0 p-0" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex justify-content-between col-12 m-0 p-0">
          <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
            <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="/aktualnosci">aktualności</a>
          </li>
          <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
            <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="/#Three">kim jesteśmy</a>
          </li>
          <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
            <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="/#Four">nasze spotkania</a>
          </li>
          <li class="nav-item col-12 col-lg-3 d-flex justify-content-center p-0">
            <a class="nav-link text-uppercase text-white hover p-4 p-lg-0" href="/#Five">kontakt</a>
          </li>
      </ul>
    </div>
    <div class="scrollup"><a href="#One"><span class="swiper-button-next swiper-button-white"></span></a></div>

  </nav>